<html>
<head></head>
<body>
<h1 style ="margin-left:100px">Welcome to CRUD DEMO application created by Suraj Gupta. </h1> <br>
Click <a href="/students">here</a> to view the student list.



</body>
</html>